/* styles.css */

.container {
    max-width: 400px; /* Adjust the maximum width as desired */
    margin: 0 auto;
    padding: 20px;
    text-align: center; /* Center the content horizontally */
    margin-top: 200px; /* Adjust the top margin to vertically center the container */
}

.alert {
    margin-top: 20px;
}
